@import '../fonts/fonts.css';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'proximaNova';
    text-decoration: none;
}
body {
    overflow-x: hidden;
}
.home {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
}
.profile {
    position: relative;
    width: 20px;
    height: 20px;
    background: url(../images/infinity.png);
    background-size: cover;
    animation: 5s text-animate ease-in;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu li {
    position: relative;
    list-style: none;
    margin-left: 35px;
    animation: 5s text-animate ease-in;
}
.menu li:nth-child(1){
    transition-delay: 5.25s;
}
.menu li:nth-child(2){
    transition-delay: 5.5s;
}
.menu li:nth-child(3){
    transition-delay: 5.75s;
}
.menu li:nth-child(4){
    transition-delay: 6s;
}
.menu a {
    color: black;
    transition: .3s;
}
.last-item a {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/shopping-cart\ \(1\).png);
    background-size: cover;
}
.menu a:hover {
    color: #FFA500;
}
.home .content {
    width: 40%;
    padding-right: 7%;
    margin-bottom: 7%;
}
.content p {
    position: relative;
    font-size: 16px;
    color: grey;
    z-index: 50;
    animation: 5.5s text-animate ease-in;
}
.content a {
    position: relative;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 2px;
    color: white;
    padding: 15px 45px;
    background-color: #FFA500;
    margin-top: 25px;
    z-index: 50;
    animation: 6s text-animate ease-in;
    transition: 0.3s;
}
.content a:hover {
    background-color: grey;

}
.icons {
    width: 60%;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.icons span {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover !important;
    margin-top: 35px;
    z-index: 50;    
    animation: 5s text-animate ease-in;
}
.icons span:nth-child(1){
    animation-duration: 6.5s;
}
.icons span:nth-child(2){
    animation-duration: 6.75s;
}
.icons span:nth-child(3){
    animation-duration: 7s;
}
.icons span:nth-child(4){
    animation-duration: 7.25s;
}
.facebook {
    background: url(../images/facebook.png);
}
.instagram {
    background: url(../images/instagram.png);
}
.twitter {
    background: url(../images/twitter.png);
}
.youtube {
    background: url(../images/youtube.png);
}
.logo {
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/Runner.png);
    background-size: cover;
    z-index: 10;
    animation: logo-animate 3.5s ease-in;
}
@keyframes logo-animate  {
    0%{
        opacity: 0;
        left: -10%;
    }
    60%{
        opacity: 0;
        left: -10%;
    }
    100%{
        opacity: 1;
        left: 0;
    }
}
.fast {
    position: absolute;
    top: 29%;
    left: 28%;
    font-size: 8vw;
    color: #FFA500;
    text-transform: uppercase;
    font-family: Anton !important;
    font-style: italic;
    z-index: 20;
    animation: fast-animate 1.5s ease-in;
}
@keyframes fast-animate  {
    0%{
        opacity: 0;
        left: 23%;
    }
    60%{
        opacity: 0;
        left: 23%;
    }
    100%{
        opacity: 1;
        left: 28%;
    }
}
.every-things {
    position: absolute;
    top: 40%;
    left: 45%;
    font-size: 8vw;
    text-transform: uppercase;
    color: white;
    white-space: nowrap;
    font-family: Anton !important;
    font-style: italic;
    -webkit-text-stroke: 0.3vh #FFA500;
    animation: evth-animate 2s ease-in;
}
@keyframes evth-animate  {
    0%{
        opacity: 0;
        left: 35%;
    }
    60%{
        opacity: 0;
        left: 35%;
    }
    100%{
        opacity: 1;
        left: 45%;
    }
}
.bg-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/BG_Pattern.png);
    background-size: cover;
    animation: bg-animate 2.5s ease-in;
}
@keyframes bg-animate  {
    0%{
        opacity: 0;
        left: -5%;
    }
    60%{
        opacity: 0;
        left: -5%;
    }
    100%{
        opacity: 1;
        left: 0;
    }
}
.square {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}
.s1 {
    top: 10%;
    left: 15%;
    border: 2px solid #FFA500;
    transform: rotate(-35deg) scale(0.8);
    z-index: 10;
    animation: s1-animate 3.75s ease-in;
}
@keyframes s1-animate  {
    0%, 60%{
        transform: rotate(-180deg) scale(0.8);
        opacity: 0;
        left: -5%;
    }
    100%{
        transform: scale(0.8) matrix(0.5, 0.86603, -0.86603, 0.5, 0, 0);;
        opacity: 1;
        left: 15%;
    }
}
@keyframes s2-animate  {
    0%, 60%{
        transform: rotate(-180deg) scale(1.2);
        opacity: 0;
        left: 20%;
    }
    100%{
        transform: scale(1.2) matrix(0.5, 0.86603, -0.86603, 0.5, 0, 0);;
        opacity: 1;
        left: 30%;
    }
}
@keyframes s3-animate  {
    0%, 60%{
        transform: rotate(-180deg) scale(0.9);
        opacity: 0;
        left: 70%;
    }
    100%{
        transform: scale(0.9) matrix(0.5, 0.86603, -0.86603, 0.5, 0, 0);;
        opacity: 1;
        left: 80%;
    }
}
@keyframes text-animate {
    0%, 70%{
        bottom: -100px;
        opacity: 0;
    }
    100%{
        bottom: 0;
        opacity: 1;
    }
}
.s2 {
    top: 57%;
    left: 30%;
    background-color: #FFA500;
    transform: rotate(-35deg) scale(1.2);
    z-index: 1;
    animation: s2-animate 3.75s ease-in;
}
.s3 {
    top: 32%;
    left: 80%;
    border: 2px solid #FFA500;
    transform: rotate(-35deg) scale(0.9);
    animation: s3-animate 3.75s ease-in;
}
.image {
    display: none;
}
@media (max-width:991px) {
    header {
        padding: 10px;
        transition: 0.3s;
    }
    .home {
        flex-direction: column !important;
        padding-top: 100px !important;
    }
    .change-bg {
        background-color: #DDDDDD;
        transition: 0.3s;
    }
    .content {
        position: relative;
        width: 100% !important;
        padding: 15px !important;
        margin: 0 !important;
    }
    .toggle {
        position: relative;
        display: block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column ;
        padding: 5px;
        animation: text-animate 5s ease-in;
    }
    .toggle span {
        top: 0;
        position: relative;
        display: inline-block;
        width: 100%;
        height: 2px;
        background-color: rgb(194, 194, 194);
        transition: 0.3s;
    }
    .first-m{
        top: 5px !important;
        transition: 0.3s;
    }
    .last-m{
        top: -5px !important; 
        transition: 0.3s;
    }
    .menu {
        display: flex !important;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed !important;
        top: 45px !important;
        left: -100% !important;
        width: 100% !important;
        height: 100vh !important;
        background-color: #DDDDDD;
        border-top: 1px solid grey;
        transition: 0.3s;
    }
    .change {
        left: 0 !important;
        transition: 0.3s;
    }
    .menu li {
        font-size: 22px !important;
        margin: 10px 0  !important;
        animation: unset !important;
    }
    .last-item a{
        width: 35px !important;
        height: 35px !important;
    }
    .icons {
        position: relative;
        width: 100% !important;
        order: 1;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: space-between !important;
        padding: 15px !important;
        margin: 0 !important;
        margin-top: -50px !important;
    }
    .logo {
        display: none !important;
    }
    .image {
        display: block !important;
        width: 100% ;
        z-index: 100;
        animation: logo-animate 3.5s ease-in;
    }
    .image img {
        width: 100%;
        vertical-align: middle;
        object-fit: cover;
    }
    .s2 {
        display: none !important;
    }
    .every-things {
        top: 20% !important;
    }
}
@media (max-width:541px) {
    .s3 {
        left: 50% !important;
    }
}
@media (max-width:450px) {
    .every-things {
        left: 10% !important;
    }
}